:root {
  --primercolor: #ff1e56;    /* Color primario */
  --segundocolor: #ffac41;   /* Color secundario */
  --tercercolor: #323232;    /* Color terciario */
  --fondo: #000000;          /* Color de fondo */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Cairo";
}

body {
  background: var(--fondo);  /* Aplica el color de fondo definido en :root */
}

.contenedor {
  width: 90%;
  margin: auto;              /* Centra el contenedor en la página */
}

header{
  padding: 5px 0;
  position: sticky;          /* El encabezado se mantiene en la parte superior de la página al hacer scroll */
  top: 0;
  z-index: 100;
  background-color: var(--fondo);  
}

header .contenedor {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 0;
  position: sticky;
  top: 0;
  z-index: 100;
}

header .titulo-buscador {
  display: flex;
  align-items: center;
}

header .logotipo {
  font-weight: normal;
  color: var(--primercolor); 
  font-size: 40px;
  position: relative;
}

header .logotipo a {
  text-decoration: none;
  color: var(--primercolor);
}

.logotipo img {
  width: 30px;
}

header .logotipo::before,
header .logotipo::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  background-color: var(--primercolor); 
  transition: width 0.3s ease-in-out;   /* Transición animada para expandir el subrayado */
  opacity: 0;
}

header .logotipo::before {
  top: 0;
  left: 0;
  transform-origin: top left;
}

header .logotipo::after {
  bottom: 0;
  right: 0;
  transform-origin: bottom right;
}

header .logotipo:hover::before,
header .logotipo:hover::after {
  width: 100%;    /* Expande el subrayado al 100% del ancho del logotipo */
  opacity: 1;     /* Hace visible el subrayado */
}

/*--------Menú de navegación-----------*/

header nav a {
  position: relative;
  color: #aaa;
  text-decoration: none;
  width: 100%;
  height: 100%;
}


header nav a::after {
  content: "";
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: var(--primercolor);
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}

header nav a:hover::after,
header nav a.activo::after {
  transform: scaleX(1);
}

/*--------Buscador---------*/

header .buscador {
  margin-left: 20px;
  overflow: hidden;
  border-radius: 20px;
  background-color: transparent;
  width: 200px;
}

header .buscador input {
  width: 100%;
  padding: 5px;
  border: none;
  outline: none;
  color: #aaa;
  border-radius: 20px;
  background-color: var(--tercercolor);
}

.buscador {
  position: relative;
}

#listaPeliculas {
  max-height: 200px; 
  overflow-y: auto; 
}

#listaPeliculas {
  font-size: 20px;
  margin-top: 20px;
  list-style: none;
  font-weight: 400;
  color: #ffffff;
  text-align: center;
}
li{
  margin: 5px 0;
}

.filtro{
  display: none;
}

/*------------Menú desplegable---------- */
header .Menu {
  position: relative;
  z-index: 1000;
}

header .Menu ul{
  display: inline-flex;
}

header .Menu ul li {
  display: flex;
  position: relative;
  padding-inline: 10px;
}

header .Menu ul li a {
  display: block;
  padding: 10px;

}

header .Menu ul li:hover > ul.dropdown-menu {
  display: flex;
  top: 100%; 
}

header .Menu ul ul.dropdown-menu {
  display: none;
  position: absolute;
  background: var(--tercercolor);
  flex-direction: column;
}

header .Menu ul ul.dropdown-menu li {
  display: flex;
}

header .Menu ul ul.dropdown-menu li a {
  padding: 10px;
}

header .Menu ul ul.dropdown-menu li a:hover {
  background: var(--fondo);
}

/*-----Estilos login----*/
header .Menu ul li.login-button {
  position: relative;
}

header .Menu ul li.login-button button {
  background-color: transparent;
  color: #aaa;
  border: 2px solid var(--primercolor);
  border-radius: 20px;
  cursor: pointer;
  padding: 10px;
  font-size: inherit;
  transition: border-color 0.3s ease-in-out;
}

header .Menu ul li.login-button button:hover {
  border-color: var(--segundocolor);
}
  

header .Menu ul li.login-button .login-form {
  display: none;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--tercercolor);
  padding: 10px;
  width: 200px;
}

header .Menu ul li.login-button:hover .login-form {
  display: flex;
  flex-direction: column;
}

header .Menu ul li.login-button .login-form input[type="text"],
header .Menu ul li.login-button .login-form input[type="password"] {
  width: 100%;
  margin-bottom: 10px;
  padding: 5px;
  border-radius: 5px;
  background-color: var(--fondo);
  color: white;
  border: none;
}

header .Menu ul li.login-button .login-form button {
  width: 100%;
  padding: 10px;
  background-color: var(--primercolor);
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  
}

header .Menu ul li.login-button .login-form button:hover {
  background-color: var(--segundocolor);
}

header .Menu ul li.login-button .login-form .register-form {
  margin-top: 10px;
}

header .Menu ul li.login-button .login-form .register-form p {
  margin: 10px;
  color: white;
}

header .Menu ul li.login-button .login-form .register-form button a {
  display: block;
  width: 100%;
  height: 100%;
  color: white;
  text-decoration: none;
}


/* ------- Estilos para el banner de películas (slides) --------- */

.slider {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.slider ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  animation: slide 15s infinite linear;
  width: 400%;
}

.slider li {
  width: 100%;
}

.slider img {
  width: 100%;
  height: 100%;
}

.slider h3 {
  font-size: 3em;
}

.slider h4 {
  font-size: 1.5em;
}

.slider p {
  font-size: 1em;
}

.image-container {
  position: relative;
  display: inline-block;
  width: 100%;
  max-width: 100%;
  height: 500px;
}

.image-container img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*-------Estilos para la capa sobre las imagenes del banner-----------*/
.image-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 1),
    transparent
  ); /* Degradado de oscurecimiento */
}

/*---------Estilos para el texto en la imagen del banner-------------*/
.image-text {
  width: 70%;
  position: absolute;
  top: 20%; 
  bottom: 10%; 
  left: 5%; 
  color: white; 
  
}

.trailer-button {
  padding: 10px 20px;
  margin-top: 20px;
  background-color: var(--segundocolor);
  border: none;
  font-size: 1em;
  font-weight: bold;

}

.trailer-button a{
  color: black;
  text-decoration: none;
}
.trailer-button:hover {
  background-color: var(--primercolor);
}



.subtitulos {
  font-size: large;
  color: white;
  margin-left: 10px;
}

.subtitulos h2 {
  border-bottom: 1px solid var(--segundocolor);
}

/*------Flechas Carrusel-------*/

.carrusel {
  position: relative; 
}

.flecha-izquierda, .flecha-derecha {
  display: inline-block;
  position: absolute;
	border: none;
	background: rgba(0,0,0,0.3);
	font-size: 24px;
	color: #fff;
	cursor: pointer;
	z-index: 500;
  top: 50%;
  transform: translateY(-50%);
	transition: .2s ease all;
}

.flecha-izquierda:hover, .flecha-derecha:hover {
	background: rgba(0,0,0, .9);
}

.flecha-izquierda {
	left: 0;
}

.flecha-derecha {
	right: 0;
}

/*--------Estilos para los carrusel-------*/
.portadas {
  display: flex;
  overflow: auto;
  overflow-y: hidden;
  margin-top: 10px;
  margin-bottom: 30px;
}



.imagen {
  position: relative;
}

.imagen img {
  width: 100%;
  object-fit: cover;
  width: 150px;
  margin:20px;
  display: block;
  transition: transform 0.3s;
}

.imagen:hover img {
  transform: scale(1.2);
} /*Zoom a la portada cuando pasamos el mouse*/

.overlay {
  position: absolute;
  top: 0;
  left: 10%;
  width: 80%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7));
  opacity: 0;
  transform: scale(1.2);
  transition: opacity 0.2s ease;
  transition: transform 0.2s ease;
} /*Máscara de opacidad para las portadas*/

.imagen:hover .overlay {
  opacity: 1;
  transform: scale(1.2)
}

.texto {
  position: absolute;
  margin-top: 90%;
  color: #fff;
  font-size: 1.5em;
}




@keyframes slide {
  0% {
    margin-left: 0;
  }
  20% {
    margin-left: 0;
  }
  25% {
    margin-left: -100%;
  }
  45% {
    margin-left: -100%;
  }
  50% {
    margin-left: -200%;
  }
  70% {
    margin-left: -200%;
  }
  75% {
    margin-left: -300%;
  }
  100% {
    margin-left: -300%;
  }
} /* Animación para las slides */

.footer {
  border-top: 1px solid var(--segundocolor);
  text-align: center;
  max-width: 100%;
  background-color: var(--tercercolor);
}


.social-icons {
  padding: 20px;
}

.social-icon {
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
}

.social-icon i {
  vertical-align: middle;
}

.footer p{
  color:var(--primercolor)
}


/* ------- Media Quaries --------- */

@media screen and (max-width: 800px) {
  header .logotipo {
    margin-bottom: 10px;
    font-size: 30px;
  }

  header .contenedor {
    flex-direction: column;
    text-align: center;
  }

}

